
body{
	margin: 0px auto;
}
header{
	height: 10%;
}
.menu li{
	
	float:left;
		margin: 10px 10px;
}
.menu li:hover{
	background-image: url("../img/hover.png");
	 background-size:cover; 
}

.menu {
	
	list-style-type: none;
	padding: 0;
	height: 3%;
	float: right;
	margin-right: 1%;
	margin-top: 1%;
}

.menu li a{
	text-decoration: none;
	color: black;
	
}
header .imgLogo {
	float: left;
	margin: 1% 1%;
}
header .imgPhone{
	float:right;
	
}
@media screen and (max-width: 994px) {
.menu{
	width: 100%;
	display: inline-block;
 }
 .menu li{
 	    margin: 1% 3% !important;
 }

 .menu li a{
 	font-size: 0.8em;
 }
 .imgLogo{
 	width: 20%;
 }
 .imgPhone{
 	width: 20%;
 }


}
.midImg{
	 background-image: url("../img/business-home_11.jpg");
	 height: 100%;
	 width: 100%;
	 
}
.Midpage{
	margin-top: 6%;
	height: 518px;
}
.contMid{
	    float: left;
    width: 100%;
    margin-left: 6%;
    margin-top: 10%;
    color: white;
    font-size: 2em;
}
.butMid {
	    float: left;
    margin-left: 12%;
    margin-top: 1%;
      border-radius: 5px;
      color: #a30707;
      font-weight: bold;
}
/*afrer mid img*/
@media screen and (min-width: 1092px){
	.midImg{
		height: 88%;
	}
	
}
.words 	{
float:left;
	width: 24%;
	    margin: 3%;
}
.words p{
	font-weight: bold;
	    font-size: 1.4em;
    color: #555758;
}
.words span{
	    margin-top: 5%;
    display: inline-block;
        font-size: 0.8em;
}
.words button{
	    margin-top: 5%;
}
.words ul li:before {   
    content: "";  
    border-color: transparent black;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.45em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -2.4em;  
    top: 0.9em;  
    position: relative;
    
} 
.words ul{
	list-style-type: none;
}
.words ul li a{
	    font-size: 0.8em;
    color: #006dff;
    	text-decoration: none;
}

@media screen and (max-width: 910px){
.words img{
		width:50%;
	}
}
.clear-fix
{
	overflow: hidden;
	clear:both;
}
	
	footer{
		background-color: rgba(158, 158, 158, 0.3);
		    height: 220px;
    width: 100%;
		
	}
nav ul{
	list-style-type: none;
	float: left;
	    margin-top: 0;
}

nav ul li a{
	text-decoration:  none;
	font-size: 0.9em;
	color: #575858;
}

.centerText{
	float :left;
	margin-left: 10%;
	width: 30%;
	
}
.centerText div{
	font-size:0.9em;
}
.rightText{
	    float: right;
    margin-right: 1%;
    width: 39%;
}
